@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width : 1000px) {
    html {
        font-size: 75%;
    }
}

h1 {
    font-size: 30px;
}

.activeTab {
    background-color: aqua;
}

.post {
    background-color: #2795a9;
    border-radius: 10px;
    color: white;
    padding: 10px 35px;
    cursor: pointer;
}

.plus {
    background-color: #2795a9;
    border-radius: 100%;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
  }